.i-stars--regular-0 {
  background:url("https://s3-media2.fl.yelpcdn.com/assets/srv0/yelp_design_web/9b34e39ccbeb/assets/img/stars/stars.png");
  width:102px;
  height:18px;
  background-position:0 -240px
}

.i-stars--regular-1 {
  background:url("https://s3-media2.fl.yelpcdn.com/assets/srv0/yelp_design_web/9b34e39ccbeb/assets/img/stars/stars.png");
  width:102px;
  height:18px;
  background-position:0 -258px
}

.i-stars--regular-1-half {
  background:url("https://s3-media2.fl.yelpcdn.com/assets/srv0/yelp_design_web/9b34e39ccbeb/assets/img/stars/stars.png");
  width:102px;
  height:18px;
  background-position:0 -276px
}

.i-stars--regular-2 {
  background:url("https://s3-media2.fl.yelpcdn.com/assets/srv0/yelp_design_web/9b34e39ccbeb/assets/img/stars/stars.png");
  width:102px;
  height:18px;
  background-position:0 -294px
}

.i-stars--regular-2-half {
  width:102px;
  height:18px;
  background-position:0 -312px
}

.i-stars--regular-3 {
  background:url("https://s3-media2.fl.yelpcdn.com/assets/srv0/yelp_design_web/9b34e39ccbeb/assets/img/stars/stars.png");
  width:102px;
  height:18px;
  background-position:0 -330px
}

.i-stars--regular-3-half {
  background:url("https://s3-media2.fl.yelpcdn.com/assets/srv0/yelp_design_web/9b34e39ccbeb/assets/img/stars/stars.png");
  width:102px;
  height:18px;
  background-position:0 -348px
}

.i-stars--regular-4 {
  background:url("https://s3-media2.fl.yelpcdn.com/assets/srv0/yelp_design_web/9b34e39ccbeb/assets/img/stars/stars.png");
  width:102px;
  height:18px;
  background-position:0 -366px
}

.i-stars--regular-4-half {
  background:url("https://s3-media2.fl.yelpcdn.com/assets/srv0/yelp_design_web/9b34e39ccbeb/assets/img/stars/stars.png");
  width:102px;
  height:18px;
  background-position:0 -384px
}

.i-stars--regular-5 {
  background:url("https://s3-media2.fl.yelpcdn.com/assets/srv0/yelp_design_web/9b34e39ccbeb/assets/img/stars/stars.png");
  width:102px;
  height:18px;
  background-position:0 -402px
}
